=font-face($family, $path, $weight: normal, $style: normal)
    @font-face
        font-family: $family
        src: url(#{$path}.eot)
        src: url(#{$path}.eot?#iefix) format('embedded-opentype'), url(#{$path}.woff) format('woff'), url(#{$path}.ttf) format('truetype')
        font-weight: $weight
        font-style: $style
