button:focus
  outline: 0 !important

.btn
  background-color: transparent
  border-width: 2px
  border-radius: 0
  font-size: 1.8rem
  padding: 0.8rem 2.2rem
  &.btn-primary
    border-color: $is-white
    &:hover,
    &:focus,
    &:not(:disabled):not(.disabled):active,
      background-color: $is-main-color
      border-color: $is-main-color
  &.btn-view
    border-color: $is-red
    color: $is-black
    &:hover,
    &:focus,
    &:not(:disabled):not(.disabled):active,
      background-color: $is-red
      color: $is-white

a
  color: inherit
  &.is-link
    color: $is-main-color
    text-decoration: underline
