.footer
  background-color: $is-black
  color: $is-white
  padding: 4rem 0
  height: 100px
  .nav
    .nav-link
      .icon
        +flex
        width: 55px
        height: 55px
        background-color: $is-soft-black
        color: $is-white
        text-align: center
        transition: background 0.3s, color 0.3s, box-shadow 0.3s, transform 0.3s
        i
          transform: translate(0, 0)
        &:hover
          box-shadow: 0 0 0 3px rgba(4, 94, 201, 0.1)
          transform: scale(0.9)
          i
            -webkit-animation: toBottomFromTop 0.3s forwards
            -moz-animation: toBottomFromTop 0.3s forwards
            animation: toBottomFromTop 0.3s forwards
        &.linkedin:hover
          background-color: $is-linkedin
        &.facebook:hover
          background-color: $is-facebook
        &.google-plus:hover
          background-color: $is-google-plus
