$hamburger-padding-x           : 7px !default
$hamburger-padding-y           : 7px !default
$hamburger-layer-width         : 30px !default
$hamburger-layer-height        : 3px !default
$hamburger-layer-spacing       : 6px !default
$hamburger-layer-color         : #fff !default

@import ~hamburgers/_sass/hamburgers/hamburgers.scss

#header
  position: absolute
  bottom: 0
  width: 100%
  background-color: $is-soft-black
  border-bottom: 3px solid $is-main-color
  z-index: 10
  &.fixed
    bottom: inherit
    position: fixed
    top: 0
    left: 0
  +mobile-portrait
    height: 50px
    border-bottom: 2px solid $is-main-color
    padding-left: 0
    padding-right: 0
  .nav
    .nav-link
      transition: color 0.5s
      padding: 8px 30px
      color: $is-white
      +mobile-portrait
        padding: 8px 20px
        display: block
        width: 100%
      &.active
        color: $is-red
      &:hover
        color: $is-red
    +mobile-portrait
      position: absolute
      left: 0
      top: 50px
      background: rgba(0,0,0,0.9)
      overflow: hidden
      padding: 0
      width: 100%
      height: auto
      max-height: 0
      opacity: 0
      transition: all .2s ease-in-out
  .menu-mobile
    width: 100%
    display: none
    +mobile-portrait
      display: block
  &.is-active
    .nav
      +mobile-portrait
        max-height: 200px
        padding: 20px 0
        opacity: 1

