html
  height: 100%
  font-size: 62.5%
body
  position: relative
  color: $is-black
  font-family: $font-family-base
  font-size: $font-size
  overflow-x: hidden
  +mobile
    font-size: $font-size-mobile

  section
    position: relative
    padding: 100px 0
    +mobile
      padding: 60px 0
    .title
      display: inline-block
      font-size: 2.8em
      +mobile
        font-size: 2.2em
      &:after
        content: ""
        display: block
        width: 60px
        height: 4px
        background-color: $is-black
        margin: 0 auto

  #landing
    color: $is-white
    height: calc(100vh + 53px)
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab)
    background-size: 400% 400%
    animation: gradient 40s ease infinite
    @keyframes gradient
      0%
        background-position: 0% 50%
      50%
        background-position: 100% 50%
      100%
        background-position: 0% 50%

  #about
    padding-bottom: 0
    .bullet-wrap
      display: inline-block
      position: relative
      text-align: center
      width: 100px
      height: 100px
      .bullet
        background-color: $is-main-color
        width: 100%
        height: 100%
        i
          color: $is-white
          font-size: 3.2em
          left: 0
          position: absolute
          right: 0
          top: 28px
          z-index: 1
    .image-profile
      width: 220px
    .wrap-skill
      +skill-bar

  #portfolio
    .gallery
      padding-left: 14px
      padding-right: 14px
      .item
        background-color: $is-white
        height: 0
        padding-bottom: 75.2%
        margin: 0 1px 2px
        position: relative
        overflow: hidden
        display: block
        img
          position: absolute
          width: 100%
          height: 100%
          left: 0
          top: 0
          object-position: center center
          object-fit: cover
          transition: all 0.3s ease-in-out
        .text
          position: absolute
          top: 0
          width: 100%
          opacity: 0
          text-align: center
          transition: all 0.3s ease-in-out
          z-index: 2
        .btn
          position: absolute
          bottom: 0
          left: 0
          right: 0
          width: 170px
          margin: 0 auto
          opacity: 0
          text-align: center
          transition: all 0.3s ease-in-out
          z-index: 2
        &:hover
          img
            opacity: 0
          .text
            cursor: default
            opacity: 1
            top: 24%
          .btn
            bottom: 24%
            opacity: 1

  #contact
    height: calc(100vh - 100px)
    background-color: $is-soft-black
    color: $is-white
    +mobile-landscape
      height: auto
    .title
      &:after
        background-color: $is-white

  .wrap-code-editor
    position: relative
    padding-top: 2rem
    padding-bottom: 2rem
    +mobile-portrait
      padding-left: 60px
    .timeline
      width: 1px
      height: 100%
      left: -10px
      top: 0
      z-index: 9
      position: absolute
      background-color: $is-purple
      +mobile-portrait
        left: 45px
    .code-wrp
      font-family: Roboto Mono
      line-height: 1.6
      .code-line
        position: relative
        &:after
          content: attr(data-line-nr)
          position: absolute
          left: -60px
          color: #3b3553
          z-index: 3
          top: 0
          color: $is-gray
          +mobile-portrait
            left: -40px
