=text-truncate($line: 1)
  overflow: hidden
  @if $line == 1
    white-space: nowrap
    text-overflow: ellipsis
  @else
    display: -webkit-box
    -webkit-line-clamp: $line
    -webkit-box-orient: vertical

=border-radius
  border-radius: 10px

=circle
  border-radius: 180px
  text-align: center

=flex
  align-items: center
  display: flex
  flex-direction: column
  justify-content: center

=hexagon
  width: calc(100% * 0.57735)
  &:before
    background-color: inherit
    content: ""
    height: inherit
    position: absolute
    right: calc((100% / 2) - ((100% * 0.57735) / 2))
    top: 0
    transform: rotateZ(60deg)
    width: inherit
  &:after
    background-color: inherit
    content: ""
    height: inherit
    position: absolute
    right: calc((100% / 2) - ((100% * 0.57735) / 2))
    top: 0
    transform: rotateZ(-60deg)
    width: inherit


=skill-bar
  width: 100%
  height: 28px
  margin: 0 0 20px 0
  font-size: .8em
  .bar
    height: 100%
    background: $is-gray
    float: left
    position: relative
    cursor: pointer
    &:hover
      .animate
        width: 100%
      .type
        color: $is-white
    .animate
      width: 0
      height: 100%
      background: $is-sky
      -webkit-transition: width 0.5s ease
      -ms-transition: width 0.5s ease
      transition: width 0.5s ease
    .type
      position: absolute
      left: 10px
      top: 0
      line-height: 28px
      -webkit-transition: all 0.2s ease
      -ms-transition: all 0.2s ease
      transition: all 0.2s ease
  .value
    float: left
    color: #626262
    margin-left: 15px

=mobile-portrait
  @media screen and (max-width: 440px)
    @content
=mobile-landscape
  @media screen and (max-width: 767px) and (orientation: landscape)
    @content
=mobile
  @media screen and (max-width: 768px)
    @content
=tablet
  @media screen and (min-width: 769px), print
    @content
=tablet-only
  @media screen and (min-width: 769px) and (max-width: 1088px)
    @content
=touch
  @media screen and (max-width: 1088px)
    @content
=desktop
  @media screen and (min-width: 1089px)
    @content
=desktop-only
  @if $widescreen-enabled
    @media screen and (min-width: 1089px) and (max-width: 1215px)
      @content
=until-widescreen
  @if $widescreen-enabled
    @media screen and (max-width: 1215px)
      @content
=widescreen
  @if $widescreen-enabled
    @media screen and (min-width: 1216px)
      @content
=widescreen-only
  @if $widescreen-enabled and $fullhd-enabled
    @media screen and (min-width: 1216px) and (max-width: 1407px)
      @content
=until-fullhd
  @if $fullhd-enabled
    @media screen and (max-width: 1407px)
      @content
=fullhd
  @if $fullhd-enabled
    @media screen and (min-width: 1408px)
      @content
