.is-red
  color: $is-red

.py-1
  padding: 1rem 0 !important
.py-2
  padding: 2rem 0 !important
.py-3
  padding: 3rem 0 !important
.py-4
  padding: 4rem 0 !important

.px-1
  padding: 0 1rem !important
.px-2
  padding: 0 2rem !important
.px-3
  padding: 0 3rem !important
.px-4
  padding: 0 4rem !important

.p-1
  padding: 1rem !important
.p-2
  padding: 2rem !important
.p-3
  padding: 3rem !important
.p-4
  padding: 4rem !important

.mt-1
  margin-top: 1rem !important
.mt-2
  margin-top: 2rem !important
.mt-3
  margin-top: 3rem !important
.mt-4
  margin-top: 4rem !important

.mb-1
  margin-bottom: 1rem !important
.mb-2
  margin-bottom: 2rem !important
.mb-3
  margin-bottom: 3rem !important
.mb-4
  margin-bottom: 4rem !important

.ml-1
  margin-left: 1rem !important
.ml-2
  margin-left: 2rem !important
.ml-3
  margin-left: 3rem !important
.ml-4
  margin-left: 4rem !important

.mr-1
  margin-right: 1rem !important
.mr-2
  margin-right: 2rem !important
.mr-3
  margin-right: 3rem !important
.mr-4
  margin-right: 4rem !important

.text-highlight
  color: $is-red

.error
  color: $is-red
  font-size: 1.5em
  &:before
    content: "*"

h1, .h1
  font-size: 2em
h2, .h2
  font-size: 1.4em
h3, .h3
  font-size: 1.17em
h4, .h4
  font-size: 1.07em
h5, .h5
  font-size: 0.83em
h6, .h6
  font-size: 0.67em

.size-huge
  font-size: 1.17em
.size-small
  font-size: 0.83em
.font-weight-bold
  font-weight: 700

.icon
  vertical-align: middle

.d-flex
  display: flex !important
  &.align-center
    align-items: center !important

.list-inline
  li
    display: inline-block
    vertical-align: middle

.is-vcentered
  display: flex
  justify-content: center
  align-items: center

+mobile-portrait
  .is-size-1-mobile-portrait
    font-size: 3rem !important
  .is-size-2-mobile-portrait
    font-size: 2.5rem !important
  .is-size-3-mobile-portrait
    font-size: 2rem !important
  .is-size-4-mobile-portrait
    font-size: 1.5rem !important

.no-decorate
  color: inherit
  &:hover
    color: inherit

.no-gutter
  [class*='col-']
    padding-right: 0
    padding-left: 0
