<section id="about">
    <div class="container">
        <div class="text-center">
            <p class="title mb-3 font-weight-bold text-uppercase">about</p>
        </div>
        <div class="row text-center py-4">
            {% for about in about %}
                <div class="col-lg-3 col-6">
                    <div class="bullet-wrap">
                        <div class="bullet rounded-circle">
                            <i class="fa fa-{{ about.icon }}" aria-hidden="true"></i>
                        </div>
                    </div>
                    <h2 class="font-weight-bold mt-1">{{ about.title }}</h2>
                    <p class="mb-2">
                        {{ about.detail }}
                    </p>
                </div>
            {% endfor %}
        </div>
        <div class="row py-4">
            <div class="col-lg-6 col-xs-12 text-center">
                <img src="{{ base_url() }}/public/assets/src/images/shared/img-profile.jpg" alt="" class="rounded-circle image-profile">
                <h2 class="font-weight-bold my-4">Hello It's me.</h2>
                <p>
                    I'm a Front-end developer,<br>
                    I can create simple project by php framework<br>
                    suck as slim, twig, webpack, node.js, gulp.js<br>
                    and make interactive by<br>
                    javascript/jquery, css3, html5<br>
                </p>
            </div>
            <div class="col-lg-6 col-xs-12">
                {% for skill in skills %}
                    <div class="wrap-skill mt-2">
                        <div class="bar" style="width:{{ skill.level }}%;">
                            <div class="animate"></div>
                            <span class="type">{{ skill.title }}</span>
                        </div>
                        <span class="value">{{ skill.level }}%</span>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
