<section id="contact">
    <div class="container">
        <div class="text-center">
            <p class="title mb-3 font-weight-bold text-uppercase">contact</p>
        </div>
        <div class="row justify-content-md-center">
            <div class="col col-md-6 wrap-code-editor">
                <div class="timeline"></div>
                <h3>&#60; Let's make something together /&#62;</h3>
                <div class="code-wrp mt-3">
                    <div data-line-nr="01" class="code-line">
                        &#60;<span class="is-red">email</span>&#62;
                        <a href="mailto:pphonkam@gmail.com">pphonkam@gmail.com</a>
                        &#60;<span class="is-red">email</span>/&#62;
                    </div>
                    <div data-line-nr="02" class="code-line">
                        &#60;<span class="is-red">tel.</span>&#62;
                        <a href="tel:0875298055">0875298055</a>
                        &#60;<span class="is-red">tel.</span>/&#62;
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
