{% extends 'layouts/app.twig' %}
{% block title %}<Goff/> Portfolio | Frond-end Developer{% endblock %}

{% block content %}
    <section id="landing" class="d-flex justify-content-center flex-column">
        <h1 class="text-center">
            Hello, <br class="d-block d-sm-none">I'm Goff Piyaphon.<br>
            I'm a <br class="d-block d-sm-none">Frontend web developer.
            <br>
            <button type="button" id="view-my-works" class="btn btn-primary mt-3">View my works</button>
        </h1>
        {% block header %}
            {% include 'layouts/header.twig' %}
        {% endblock %}
        </div>
    </section>

    {% include 'home/about.twig' %}
    {% include 'home/portfolio.twig' %}
    {% include 'home/contact.twig' %}

    {% block footer %}
        {% include 'layouts/footer.twig' %}
    {% endblock %}
{% endblock %}
