<section id="portfolio">
    <div class="container">
        <div class="text-center">
            <p class="title mb-3 font-weight-bold text-uppercase">projects</p>
        </div>
        <div class="row no-gutter gallery pt-4">
            {% for project in projects %}
                <div class="col-xl-4 col-sm-6 col-xs-12">
                    <div class="item">
                        <img src="{{ base_url() }}/public/assets/src/images/projects/{{ project.thumbnail }}.jpg" alt="{{ project.thumbnail }}">
                        <div class="text">
                            <div class="font-weight-bold h3">{{ project.title }}</div>
                            <span class="text-highlight">{{ project.type }}</span>
                        </div>
                        <a class="btn btn-view" href="{{ project.link }}" target="_blank">View Site</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>
