<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
        <title>{% block title %}{% endblock %}</title>
        <link rel="apple-touch-icon" sizes="180x180" href="public/assets/src/images/favicon_io/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="public/assets/src/images/favicon_io/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="public/assets/src/images/favicon_io/favicon-16x16.png">
        <link rel="shortcut icon" type="image/x-icon" href="public/assets/src/images/favicon_io//favicon.ico">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:300,400,700&display=swap">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="public/assets/dist/app.css">
        {% block style %}{% endblock %}
    </head>
    <body>
        {% block content %}{% endblock %}
        <script src="public/assets/dist/app.js"></script>
        {% block script %}{% endblock %}
    </body>
</html>
