<footer class="footer">
<!--     <ul class="nav justify-content-center mb-2">
        <a class="nav-link" href="https://www.linkedin.com/in/goff-piyaphon-p-8458a396/" target="_blank">
            <div class="icon linkedin">
                <i class="fa fa-linkedin" aria-hidden="true"></i>
            </div>
        </a>
        <a class="nav-link" href="https://www.facebook.com/P.Phonkam55555" target="_blank">
            <div class="icon facebook">
                <i class="fa fa-facebook-f" aria-hidden="true"></i>
            </div>
        </a>
        <a class="nav-link" href="https://www.instagram.com/golf_piyaphon/?hl=th" target="_blank">
            <div class="icon google-plus">
                <i class="fa fa-instagram" aria-hidden="true"></i>
            </div>
        </a>
    </ul> -->
    <span class="d-flex justify-content-center size-small">&copy; 2020 Goffpiyaphon. All Rights Reserved.</span>
</footer>
