<header id="header" class="navbar">
    <div class="container">
        <div class="menu-mobile">
            <div class="d-flex justify-content-end">
                <button class="hamburger hamburger--collapse" type="button">
                    <span class="hamburger-box">
                        <span class="hamburger-inner"></span>
                    </span>
                </button>
            </div>
        </div>
        <ul class="nav flex-column flex-sm-row">
            <a class="nav-link" href="#landing">HOME</a>
            <a class="nav-link" href="#about">ABOUT</a>
            <a class="nav-link" href="#portfolio">PROJECTS</a>
            <a class="nav-link" href="#contact">CONTACT</a>
        </ul>
    </div>
</header>
